[Unit]
Description=Kestro IoT Services

[Service]
Type=simple
Environment="KESTRO_CONFIG=/etc/kestro/kestro.ini"
ExecStart=/home/kestroadmin/kestro/bin/waitress-serve --call kestro_iot:create_app
RestartSec=5s
Restart=on-failure

[Install]
WantedBy=multi-user.target